.profile:hover{
    width: 200px;
    height: 200px;
    border-radius: 60%;
}
.profile{
    margin-top: 20px;
    width: 183px;
    height: 183px;
    background-color: blanchedalmond;
    background-image: url(https://www.bing.com/th?id=OIP.GIWk2FIdIIftel5tj_AgzgHaHa&w=160&h=150&c=8&rs=1&qlt=90&r=0&o=6&pid=3.1&rm=2);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.4s , height 0.4s;
}
.notify{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
}
.border{
    justify-content: center;
    display: flex;
}
.name b{
    justify-content: center;
    display: flex;
    color: black;
    background-color: #AAB396;
}
.name a{
    text-decoration: none;
}
.MainContent{
    margin: 20px;
    justify-content: center;
    display:grid;
}

.name:hover b{
    color: blue;
    text-decoration: underline;
}

.Username{
    display:flex;
    justify-content: center;
    margin-top: 20px;
}

.urlimg{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.PhoneList{
    display: flex;
    justify-content: center;
}

.Addphone{
    display: flex;
    justify-content: center;
}

.Add{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.EnterName{
    margin-right: 70px;
}

#setUsername{
    margin-left: 40px;
}

.table{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

#setImg{
    margin-left: 40px;
}


.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    background-color: #674636;
}
